{{#if success_msg}}
<div class="message alert-success">
  <div class="m-auto" role="alert">
    {{success_msg}}
  </div>
</div>
{{/if}}

{{#if warning_msg}}
<div class="message alert-warning">
  <div class="m-auto" role="alert">
    {{warning_msg}}
  </div>
</div>
{{/if}}

{{#if errors}}
<div class="message alert-warning">
  {{#each errors}}
  <div class="m-auto" role="alert">
    {{this.message}}
  </div>
  {{/each}}
</div>
{{/if}}