<div class="w-screen h-screen flex align-middle text-gray-700">
  <div class="login-container m-auto w-10/12 h-5/6 md:h-2/3 md:w-8/12 max-w-lg bg-white rounded-lg shadow-lg flex-col">
    <div class="title flex justify-center align-middle relative">
      <img src="/assets/konoha.png" alt="konoha-symbol" class="h-5 w-5 my-auto absolute top-9 mr-40">
      <h1 class="text-center mt-7 mb-5 text-3xl font-bold tracking-wider pl-5">Register</h1>
    </div>
    {{> message}}
    <form class="input-group w-8/12 m-auto">
      <label class="block mb-4" for="name">
        <span>Name</span>
        <input type="name"
          class="form-input mt-1 px-5 py-3 block w-full border-gray-300 border-2 rounded-xl focus:outline-none focus:ring focus: ring-offset-2 focus: ring-yellow-300"
          placeholder="Naruto" {{#if name}} value="{{name}}" {{else}} value="{{userInput.name}}" {{/if}} id="name"
          name="name" required>
      </label>
      <label class="block mb-4" for="email">
        <span class="text-md">Email</span>
        <input type="email"
          class="form-input mt-1 px-5 py-3 block w-full border-gray-300 border-2 rounded-xl focus:outline-none focus:ring focus: ring-offset-2 focus: ring-yellow-300"
          placeholder="naruto@example.com" value="{{userInput.email}}" id="email" name="email" required>
      </label>
      <label class="block mb-4" for="password">
        <span>Password</span>
        <input type="password"
          class="form-input mt-1 px-5 py-3 block w-full border-gray-300 border-2 rounded-xl focus:outline-none focus:ring focus: ring-offset-2 focus: ring-yellow-300"
          placeholder="12345678" id="password" name="password" required>
      </label>
      <label class="block mb-10" for="confirmPassword">
        <span>Confirm Password</span>
        <input type="password"
          class="form-input mt-1 px-5 py-3 block w-full border-gray-300 border-2 rounded-xl focus:outline-none focus:ring focus: ring-offset-2 focus: ring-yellow-300"
          placeholder="12345678" id="confirmPassword" name="confirmPassword" required>
      </label>
      <div class="submit-btn flex-col">
        <button type="submit"
          class="submit block m-auto px-5 py-1 w-full rounded-full shadow-sm bg-yellow-500 text-white mb-2 hover:bg-yellow-600">Submit</button>
      </div>
      <div class="lead">
        <p class="register-link mt-6 text-md flex justify-center text-gray-400">
          Have An Account? <a href="/users/login" class="underline text-yellow-600 mx-2">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>