.analysis-container {
  height: 100vh;
}

.list-group-item {
  width: 700px;
}

.form-check-label {
  width: 50px;
}

label {
  margin: 0;
}

.form-select-month {
  width: 630px;
}

.form-category {
  width: 630px;
}
