.nav-settings {
  display: none;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-out;
}
.navbar-toggle:checked ~ .nav-settings {
  display: block;
  transform: scale(1, 1);
}