.container {
  width: 700px;
  margin-bottom: 60px;
}

.home-container {
  height: 100vh;
}

.form-check-label {
  width: 50px;
}

label {
  margin: 0;
}

.form-select-month {
  width: 630px;
}

.form-category {
  width: 630px;
}

#total-amount {
  font-size: 28px;
  color: rgb(44, 44, 44);
}

#total-amount-display {
  font-size: 70px;
  margin-left: 80px;
  color: rgb(245, 162, 67);
}

.item-icon {
  font-size: 20px;
  color: rgb(245, 162, 67);
}

.item-title {
  font-size: 20px;
}

.item-date {
  font-size: 12px;
}

.item-merchant {
  color: rgb(163, 162, 162);
}

.item-amount {
  font-size: 24px;
}

.fa-edit {
  color: rgb(245, 162, 67);
  text-decoration: none;
}

.btn-delete {
  color: rgb(255, 82, 2);
  position: relative;
  bottom: 6px;
}

.add-new-button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgb(245, 162, 67);
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 16px 15px 34px -21px rgba(113, 80, 80, 0.72);
  -webkit-box-shadow: 16px 15px 34px -21px rgba(113, 80, 80, 0.72);
  -moz-box-shadow: 16px 15px 34px -21px rgba(113, 80, 80, 0.72);
  position: fixed;
  bottom: 120px;
  right: 200px;
}

.add-new-button:hover {
  transform: translate(3px, 3px);
  cursor: pointer;
}

.fas .fa-pen {
  color: #ffffff;
}
