.container {
  width: 700px;
  margin-bottom: 60px;
}

.form-check-label {
  width: 50px;
}

label {
  margin: 0;
}

.form-select-month {
  width: 630px;
}

.form-category {
  width: 630px;
}

#total-amount {
  font-size: 28px;
  color: rgb(44, 44, 44);
}

#total-amount-display {
  font-size: 70px;
  margin-left: 80px;
  color: rgb(245, 162, 67);
}

.add-new-item:link {
  text-decoration: none;
}

#add-new-btn {
  background-color: rgb(243, 239, 239);
}

.fa-hand-point-right {
  font-size: 20px;
  color: rgb(179, 176, 176);
}

.add-new-title {
  font-size: 20px;
  color: rgb(179, 176, 176);
}

.add-new-date {
  font-size: 12px;
  color: rgb(179, 176, 176);
}

.add-new-amount {
  font-size: 24px;
  color: rgb(179, 176, 176);
}

.fa-plus-circle {
  font-size: 20px;
  color: rgb(179, 176, 176);
}

.item-icon {
  font-size: 20px;
  color: rgb(245, 162, 67);
}

.item-title {
  font-size: 20px;
}

.item-date {
  font-size: 12px;
}

.item-amount {
  font-size: 24px;
}

.fa-edit {
  color: rgb(245, 162, 67);
  text-decoration: none;
}

.btn-delete {
  color: rgb(255, 82, 2);
  position: relative;
  bottom: 6px;
}
