.register-container,
.login-container {
  height: calc(100vh + 150px);
  padding-top: 80px;
}

.register-container {
  padding-top: 40px;
}

.submit {
  background-color: rgb(247, 183, 111);
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(253, 251, 251);
}

.submit:hover {
  background-color: rgb(231, 136, 27);
  color: #ffffff;
}

.row {
  margin-bottom: 60px;
}

.login {
  border-radius: 10px;
  border: 1px solid rgb(168, 165, 165);
}

.google,
.facebook {
  margin-left: 5px;
}
