.container {
  position: relative;
}

.title {
  color: rgb(44, 44, 44);
}

.user-avatar {
  width: 600px;
  height: 400px;
  /* Add the blur effect */
  box-shadow: 0 0 8px 8px rgb(255, 239, 226) inset;
  background-position: center center;
  background-size: cover;
}

form {
  width: 400px;
}

.labels {
  width: 100%;
  padding-left: 18px;
}

.label {
  width: 140px;
  margin: 0;
}

.form-select,
.form-date {
  width: 213px;
}

.avatar {
  position: relative;
}

#avatar {
  padding: 0;
  position: absolute;
  left: 100px;
}

.submit-new-btn {
  width: 100px;
  background-color: rgb(245, 162, 67);
  color: #fff;
  margin: 0 0 60px 90px;
}

.save-btn {
  width: 100px;
  background-color: rgb(245, 162, 67);
  color: #fff;
  margin: 0 0 60px 80px;
}

.back-btn {
  width: 100px;
  background-color: rgb(91, 92, 92);
  color: #fff;
  margin: 0 0 60px 20px;
}
